/* FONTS */
@import url('https://fonts.cdnfonts.com/css/bellefair');
@import url('https://fonts.cdnfonts.com/css/barlow');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(starter-code/assets/home/background-home-mobile.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    height: 10vh;
    z-index: 2;
    position: relative;
}

#navLine {
    width: 40%;
    height: .025rem;
    background-color: grey;
    position: absolute;
    left: 8rem;
    display: none;
}

#navForTabletAndDesktop {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 2rem;
    background-color: rgb(0, 0, 0, 0.2);
    max-width: 55%;
}

#navForTabletAndDesktop ul{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    height: 100%;
}

#navForTabletAndDesktop ul li {
    list-style-type: none;
}

#navForTabletAndDesktop ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    height: 10rem;
}

#navForTabletAndDesktop ul li a:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.2rem;
    background-color: white;
    display: flex;
    margin-top: 1.6rem;
}

.active {
    position: relative;
}

.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.2rem;
    background-color: white;
    display: flex;
    margin-top: 1.6rem;
}

#toggleNavBar {
    height: 100vh;
    width: 65vw;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
    z-index: 1;
}

#list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    position: relative;
    z-index: 99999;
}

#listOffers {
    position: absolute;
    top: 12rem;
    left: 1.5rem;
}

#listOffers ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#listOffers ul li {
    list-style-type: none;
}

#toggleNavBar a {
    color: white;
    text-decoration: none;
    position: relative;
}

#listOffers ul li a:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: .2rem;
    display: flex;
    background-color: white;
}

#hamburger {
    cursor: pointer;
    display: none;
    
}

#close {
    cursor: pointer;
    position: absolute;
    right: 1rem;
}

#container {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

section {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#question span {
    text-transform: uppercase;
    color: #D0D6F9;
    font-family: 'Barlow', sans-serif;
}

#destination span {
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
    font-family: 'Bellefair', sans-serif;
}

#response {
    width: 90%;
    text-align: center;
    line-height: 2;
    color: #D0D6F9;
    font-family: 'Barlow', sans-serif;
}

#explore {
    padding: 2rem;
    border-radius: 50%;
    width: 9.5rem;
    height: 9.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#explore:hover {
    outline: 5rem solid grey;
}

#btn {
    background-color: transparent;
    border: none;
    font-size: 1.15rem;
    text-transform: uppercase;
    font-family: 'Bellefair', sans-serif;
    cursor: pointer;
}

@media only screen and (max-width: 449px) {
    #hamburger {
        display: block;
    }
  }

@media only screen and (max-width: 450px){
    #navForTabletAndDesktop {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    body {
      background-image: url(starter-code/assets/home/background-home-tablet.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    #container {
        width: 80%;
        margin: auto;
    }

    #question span {
        font-size: 1.2rem;
    }

    #destination span {
        font-size: 9rem;
    }

    #response p {
        margin: auto;
        width: 80%;
        font-size: 1.05rem;
    }

    #explore {
        scale: 1.3;
    }

    #explore:hover {
        outline: 2.5rem solid grey;
    }

    #navForTabletAndDesktop {
        width: 65%;
    }
  }

  @media only screen and (max-width: 552px) {
    #navForTabletAndDesktop {
        min-width: 65%;
    }
  }

  @media only screen and (min-width: 900px) {
    
    body {
        background-image: url(starter-code/assets/home/background-home-desktop.jpg);
    }

    #container {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 15rem;
        height: 50vh;
    }

    section {
        width: 85%;
        align-items: flex-start;
    }

    #question {
        letter-spacing: .25rem;
    }

    #response p{
        text-align: left;
        width: 100%;
    }

    #explore {
        scale: 1.5;
        margin-left: 15rem;
    }
  }

  @media only screen and (min-width: 900px) {
    section {
        scale: .9;
    }
    #explore {
        margin-left: 10rem;
    }
  }
