/* FONTS */
@import url('https://fonts.cdnfonts.com/css/bellefair');
@import url('https://fonts.cdnfonts.com/css/barlow');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../starter-code/assets/technology/background-technology-mobile.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

header {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    height: 10vh;
    z-index: 2;
}

#navLine {
    width: 40%;
    height: .025rem;
    background-color: grey;
    position: absolute;
    left: 8rem;
    /* display: none; */
}

#navForTabletAndDesktop {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 2rem;
    background-color: rgb(0, 0, 0, 0.2);
    max-width: 55%;
}

#navForTabletAndDesktop ul{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    height: 100%;
}

#navForTabletAndDesktop ul li {
    list-style-type: none;
}

#navForTabletAndDesktop ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    height: 10rem;
}

#navForTabletAndDesktop ul li a:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.2rem;
    background-color: white;
    display: flex;
    margin-top: 1.6rem;
}

.active {
    position: relative;
}

.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.2rem;
    background-color: white;
    display: flex;
    margin-top: 1.6rem;
}

#toggleNavBar {
    height: 100vh;
    width: 65vw;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
    z-index: 1;
}

#list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    position: relative;
    z-index: 99999;
}

#listOffers {
    position: absolute;
    top: 12rem;
    left: 1.5rem;
}

#listOffers ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#listOffers ul li {
    list-style-type: none;
}

#toggleNavBar a {
    color: white;
    text-decoration: none;
    position: relative;
}

#listOffers ul li a:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: .2rem;
    display: flex;
    background-color: white;
}

#hamburger {
    cursor: pointer;
    display: none;
    
}

#close {
    cursor: pointer;
    position: absolute;
    right: 1rem;
}

#container {
    color: white;
    display: grid;
    place-items: center;
    gap: 2rem;
}

#header h3 {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    gap: 1rem;
}

#header h3 span {
    color: #979797;
}

#vehicleImg {
    border-bottom: 1px solid #979797;
    width: 100%;
    height: 15rem;
    /* display: flex;
    justify-content: center; */
    background-image: url(../starter-code/assets/technology/image-spaceport-landscape.jpg);
    background-position: center;
    background-size: cover;
}

#bullets {
    display: flex;
    gap: 1rem;
}

.miniBullet {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #979797;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.miniBullet:hover {
    background-color: white;
    color: black;
}

.activate {
    background-color: white !important;
    color: black;
}

#vehicleName {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#vehicleName h3 {
    color: #979797;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Bellefair', sans-serif;
}

#vehicleName span {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Bellefair', sans-serif;
}

.bio {
    text-align: center;
    color: #D0D6F9;
    font-family: 'Barlow', sans-serif;
    line-height: 1.75;
    width: 80%;
}

@media only screen and (min-width: 1630px) {
    
    .bio {
        /* border: 1px solid red; */
        font-size: 1.1rem;
    }
    #vehicleName span {
        font-size: 3rem;
    }

}

@media only screen and (min-width: 1150px) {
    
    body {
        background-image: url(../starter-code/assets/technology/background-technology-desktop.jpg);
    }

    #container {
        grid-template-columns: 2fr 1fr;
        justify-items: start;
        width: 100%;
        margin: auto;
        margin-top: 5rem;
        gap: 0rem;
    }
    #header h3 {
        margin-left: 10rem;
        margin-top: -5rem;
    }
    
    #vehicleImg {
        margin: auto;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        height: 40rem;
        width: 80%;
        /* margin-left: 7rem; */
        background-image: url(../starter-code/assets/technology/image-spaceport-portrait.jpg);
    }

    #together {
        display: flex;
        gap: 2rem;
        margin-left: 10rem;
        /* margin-top: -10rem; */
    }
    #bullets {
        gap: 2rem;
        flex-direction: column;
    }

    #vehicleName {
        align-items: flex-start;
    }
    #vehicleName span {
        /* font-size: 5rem; */
    }
    .bio {
        text-align: left;
        width: 60%;
    }

}

@media only screen and (max-width: 1140px) {
    
    body {
        background-image: url(../starter-code/assets/technology/background-technology-tablet.jpg);
    }

    #container {
        justify-items: start;
    }

    #header h3 {
        margin-left: 3rem;
    }

    #together {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    #vehicleImg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        height: 20rem;
    }

    #vehicleName h3 {
        font-size: 1.5rem;
    }

    #vehicleName span {
        font-size: 3rem;
    }

    .bio {
        /* width: 50%; */
    }

}

@media only screen and (max-width: 450px){
    #navForTabletAndDesktop {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    #navForTabletAndDesktop {
        width: 65%;
    }
}

@media only screen and (max-width: 552px) {

    #container {
        justify-items: center;
    }
    #header h3 {
        margin-left: 0px;
    }

    #navForTabletAndDesktop {
        min-width: 65%;
    }
  }

  @media only screen and (max-width: 400px){
    #vehicleName span {
        font-size: 2rem;
    }
}